{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
            <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-24LECETGS6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-24LECETGS6');
    </script>
    <meta charset="UTF-8">
    <title>Clasificación</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clasificacion.css' %}"/>
</head> 
<body>
    <!-- Side navigation -->
    <div class="sidenav">
        {% if user.is_authenticated %}
            <span id="saludo">Hola, {{ request.user }}</span>
            <span><a id="logout" href="{% url 'logout' %}">Logout</a></span>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Registrarse</a>
        {% endif %}
        <hr style="width:100%;text-align:left;margin-left:0;border: 1px solid #818181">
        <a href="{% url 'principal' %}">Home</a>
        <a href="{% url 'clasificacion' %}">Clasificación</a>
        <a href="{% url 'mercado' %}">Mercado</a>
        {% if user.is_authenticated %}
            <a href="{% url 'equipo' %}">Mi equipo</a>
        {% endif %}
    </div>

    <div style="text-align:center;">
        <h2>Tabla de clasificación</h1>
        <h3>¡Consulta aqui la tabla de clasificacion!</h1>
    </div>

    <div>
        <table style="color:black;">
            <thead>
            <tr>
                <th scope="col">Puesto</th>
                <th scope="col">Nombre del equipo</th>
                <th scope="col">Puntuación</th>
                <th scope="col">Dueño</th>
            </tr>
            </thead>
            <tbody>
            
            {% for equipo,score,user in scores %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ equipo }}</td>
                    <td>{{ score }}</td>
                    <td>{{ user }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>