{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
            <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-24LECETGS6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-24LECETGS6');
    </script>
    <meta charset="UTF-8">
    <title>Mi equipo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/equipo.css' %}"/>
    <script src="{% static 'js/vender.js' %}"></script>
</head>
<body>
<!-- Side navigation -->
<div class="sidenav">
    {% if user.is_authenticated %}
        <span id="saludo">Hola, {{ request.user }}</span>
        <span><a id="logout" href="{% url 'logout' %}">Logout</a></span>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Registrarse</a>
    {% endif %}
    <hr style="width:100%;text-align:left;margin-left:0;border: 1px solid #818181">
    <a href="{% url 'principal' %}">Home</a>
    <a href="{% url 'clasificacion' %}">Clasificación</a>
    <a href="{% url 'mercado' %}">Mercado</a>
    {% if user.is_authenticated %}
        <a href="{% url 'equipo' %}">Mi equipo</a>
    {% endif %}
</div>  

<input type="hidden" id="myVar" name="variable" value="{{ datos  }}">

<h1>Vender jugador</h1>

<h3>Jugadores</h3>

<table style="color:black;">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Equipo</th>
        <th scope="col">Edad</th>
        <th scope="col">Altura</th>
        <th scope="col">Precio</th>
    </tr>
    </thead>
    <tbody>

    {% for jugador in jugadores %}
        <tr onclick="miFuncion(this)">
            {% for dato in jugador %}
                <td>{{ dato }}</td>
            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
</table>

<!-- The Modal -->
<div id="myModal" class="modal" style="color:black;text-align: center;">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3 id="modal_h3"></h3>
        <p id="modal_p"></p>
        <div style="display:inline-block; text-align:center;">
            <form id="si_btn" action="{% url 'delPlayer' %}" style="float:left; margin: 10px;">
                <button value="" name="del" id="del_si" type="submit">Si</button>
            </form>
            <form id="no_btn" action="{% url 'equipo' %}" style="float:right; margin: 10px;">
                <button type="submit">No</button>
            </form>
        </div> 
    </div>

</div>

</body>
</html>